
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1503041782403'); /* IE9*/
  src: url('iconfont.eot?t=1503041782403#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1503041782403') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1503041782403') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1503041782403#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-check:before { content: "\e645"; }

.icon-close:before { content: "\e646"; }

.icon-loading:before { content: "\e64f"; }

.icon-roundcheckfill:before { content: "\e656"; }

.icon-roundcheck:before { content: "\e657"; }

.icon-roundclosefill:before { content: "\e658"; }

.icon-roundclose:before { content: "\e659"; }

