<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Debug</title>
    <link rel="stylesheet" href="../stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="../stylesheets/iconfont.css">
    <link rel="stylesheet" href="../stylesheets/debug.css">
    <script src="../javascripts/vue.js"></script>
</head>
<body>

<div id="app" class="">

    <!-- TRD 表格呈现-->
    <table class="table data-table">
        <thead>
        <tr>
            <td>#</td>
            <td>Key</td>
            <td>Value</td>
            <td></td>
        </tr>
        </thead>
        <tbody>
        <template v-for="(item, index) in deviceData">
            <tr>
                <td @click="selectIndex(index)">
                    <template v-if="hasSelected(index)">
                        <span class="iconfont">&#xe657;</span>
                    </template>
                    <template v-else>
                        <span class="iconfont">&#xe64f;</span>
                    </template>

                </td>
                <td>
                    <input type="text" class="form-control" v-model="item.key" v-on:keyup.enter="uploadDeviceStatus">
                </td>
                <td>
                    <input type="number" class="form-control" v-model="item.value" v-on:keyup.enter="uploadDeviceStatus">
                </td>
                <td>
                    <button class="btn btn-secondary" @click="sendItemData(index)">Send</button>
                </td>
            </tr>
        </template>

        </tbody>
    </table>

    <div class="row bottom-bar">
        <div class="col-sm-6 col-xs-12 col-xl-12 text-left">
            <button class="btn btn-secondary" @click="addRow">Add</button>
            <button class="btn btn-secondary" @click="toggleDebugMode">Toggle Data</button>
            <button class="btn btn-primary" @click="sendSelectedDevice">Send</button>
        </div>
    </div>


    <template v-if="debugMode">
        <hr>
        <h4>data</h4>
        <pre>{{deviceData}}</pre>
    </template>


</div>

<script src="../javascripts/debug.js"></script>

</body>
</html>